// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menu-toolbar {
    height: 200px;
    padding: 10px 10px;
    background-image: url('../assets/imgs/menubg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(20, 122, 97, 0.7);
        .parent {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            .menu-dpic {
                background-color: #fff;
                padding: 5px;
                position: relative;
                left: 50%;
                height: 80px;
                width: 80px;
                border-radius: 100%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
            }
            h2 {
                margin: 0;
                display: block;
                color: #fff;
            }
            p {
                color: #fff;
                font-size: 12px;
                text-align: center;
            }
        }
    }
}

.menu-links {
    color: color($colors, primary);
    font-size: 18px;
}

* {
    font-weight: 300;
}