<!--
  Generated template for the RequestsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My Requests</ion-title>
        <ion-buttons end>
            <button ion-button (click)="logout()">
              Logout
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-list *ngIf="isMama" inset>
        <ion-card *ngFor="let request of myRequests">
            <ion-card-header color="primary">
                {{request.nani.name}}
            </ion-card-header>
            <ion-card-content>
                The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
            </ion-card-content>
            <ion-toolbar>
                <ion-buttons>
                    <button (click)="abortRequest(request.id)" ion-button color="primary" round>
                        Abort Request
                    </button>
                    <button *ngIf="request.confirmed == 1" (click)="detailRequest(request.id)" ion-button color="primary" round>
                        Details
                    </button>
                </ion-buttons>
                <ion-buttons>
                    <button *ngIf="request.confirmed == 0">Pending Confirmation</button>
                    <button *ngIf="request.confirmed == 2">Request Rejected</button>
                </ion-buttons>
            </ion-toolbar>
        </ion-card>
        <div *ngIf="myRequests.length == 0 ">
            <h1 text-center>Oooops! No requests!</h1>
        </div>
    </ion-list>

    <ion-list *ngIf="!isMama" inset>
        <ion-card *ngFor="let request of myRequests">
            <ion-card-header color="primary">
                {{request.user.name}}
            </ion-card-header>
            <ion-card-content>
                The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
            </ion-card-content>
            <ion-toolbar>
                <ion-buttons>
                    <button *ngIf="request.confirmed == 1" ion-button>Confirmed</button>
                    <button *ngIf="request.confirmed == 0 " (click)="confirmRequest(request.id)" ion-button icon-only color="primary">
                        Confirm Request
                    </button>
                    <button (click)="rejectRequest(request.id)" ion-button color="primary">
                        Reject Request
                    </button>
                    <button (click)="detailRequest(request.id)" ion-button color="primary" round>
                        Details
                    </button>
                </ion-buttons>
            </ion-toolbar>
        </ion-card>
        <div *ngIf="myRequests.length == 0 ">
            <h1 text-center>Oooops! No requests!</h1>
        </div>
    </ion-list>

</ion-content>